{% load i18n staticfiles %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% block head_title %}{% endblock %} - Demo site{% endblock %}</title>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="{% static "bootstrap/2.0.4/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/2.0.4/css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "site/css/site.css" %}" rel="stylesheet">
        {% block extra_style %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">DEMO</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">{% trans "Demo" %}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="{% url "admin:index" %}">{% trans "Admin page" %}</a></li>
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% trans "Hi" %} {{ user }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url "auth_logout" %}"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url "auth_login" %}">{% trans "Login" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="hero-unit" style="padding:10px 20px;">
                <h3>{% trans "This code is for demostration only. Please don't use it for any other purposes." %}</h3>
                <h3>{% trans "Superuser: admin/admin. Login to send messages/emails." %}</h3>
            </div>

            {% for message in messages %}
                <div class="alert fade in {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    <a class="close" href="#" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}
            {% endblock %}

            <hr>

            <footer>
                <p>&copy; Demo 2012</p>
            </footer>
        </div>

        <script src="{% static "jquery/1.7.2/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/2.0.4/js/bootstrap.js" %}"></script>
        <script src="{% static "site/js/jquery.form.js" %}"></script>
        <script src="{% static "site/js/site.js" %}"></script>
        {% block extra_script %}{% endblock %}
    </body>
</html>
