{% extends "base.html" %}

{% load i18n bootstrap_tags %}
{% load url from future %}

{% block body %}
    <form method="POST" action=".">{% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" class="btn btn-primary" value="{% trans 'Login' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
