{% extends "client/base.html" %}

{% load i18n pagination_tags %}
{% load url from future %}

{% block extra_style %}
<style type="text/css">
    tr span.buttons a {
        padding-left: 5px;
    }
    tr span.buttons i {
        padding-right: 5px;
    }
    div.actions {
        width: 20%;
        float: left;
    }
    div.pagination {
        width: 80%;
        float: right;
        text-align: right;
        margin: 0;
    }
    div.pagination a {
        line-height: 26px;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block body %}
    <h1>{% trans "All clients" %}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" class="checkbox-all" /></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr class="data" data-name="{{ object.name }}" data-id="{{ object.pk }}">
                    <td style="width: 2%"><input type="checkbox" class="checkbox-one" /></td>
                    <td style="width: 20%">{{ object.name }}</td>
                    <td style="width: 20%">
                        <a href="mailto:{{ object.email }}">{{ object.email }}</a>
                    </td>
                    <td style="width: 20%">{{ object.phone }}</td>
                    <td style="width: 38%">
                        {% if user.is_authenticated %}
                        <span class="buttons">
                            <a href="{% url "message_create" %}" class="btn send-mail">{% spaceless %}
                                <i class="icon-envelope"></i>{% trans "Send email" %}
                            {% endspaceless %}</a>
                        </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="clearfix">
        {% if user.is_authenticated %}
        <div class="actions">
            <a href="{% url "message_create" %}" class="btn send-mails disabled">
                <i class="icon-envelope"></i> {% trans 'Send emails' %}
            </a>
        </div>
        {% endif %}

        {% paginate %}
    </div>
{% endblock %}
