{% extends "client/base.html" %}

{% load i18n bootstrap_tags %}
{% load url from future %}

{% block body %}
    <h1>{% trans "Add message" %}</h1>

    <form method="POST" action="{% url "message_create" %}" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                <a href="#" class="btn">{% trans "Cancel" %}</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
