{% load i18n bootstrap_tags %}
{% load url from future %}

<div class="modal-header">
    <a class="close modal-close">&times;</a>
    <h3>{% trans "Add message" %}</h3>
</div>

<form method="POST" action="{% url "message_create" %}" class="ajax form-horizontal">
    {% csrf_token %}

    <div class="modal-body">
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn modal-close">{% trans "Cancel" %}</a>
        <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
    </div>
</form>
